@page "/"
    <a href="/ToDo">ToDo </a>
    <br />    
    <br />
<hr />
    <PageTitle>Content</PageTitle>
    <a href="Demo48">Demo48 </a>
    <br />
    <a href="Demo49">Demo49 </a>
    <br />
    <a href="Demo49">Demo49 </a>
    <br />
    <a href="Dm51Counter">Dm51Counter </a>
    <br />
    <a href="Tim52">Tim52EventCounter </a>
    <br />
    <a href="Dm53">Dm53 QuickGrid </a>
    <br />
<hr />


    <p>--8. Razor Class Libraries</p>
    <p>-- 8. Forms </p>
    <p>-- 8. Forms </p>
    <p>-- 8. Forms </p>
    @code {
        private int counterValue;

        private void UpdateCounter(int val)
        {
            counterValue = val;
        }

    }