@* @page "/demo49/{Title?}";
    @page "/demo49/{*Title}";*@
@page "/demo49/{StartingValue:int?}";

@rendermode InteractiveServer
@inject NavigationManager N

<h3>Demo49</h3>

@*<h1>@Title</h1>*@
<p role="status">Current count: @StartingValue currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">IncrementCount</button>
<button class="btn btn-primary" @onclick="GoToCounter">GoToCounter</button>


@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public int StartingValue { get; set; } = 0;

    //private int currentCount = 0;
    protected override void OnParametersSet()
    {
        //Title = Title ?? "Our Better Counter";
    }

    private void IncrementCount()
    {
        //currentCount++;
        StartingValue++;
    }
    private void GoToCounter()
    {
        N.NavigateTo("Counter");
    }

}
